body
{
    background-color: rgb(231, 231, 188);
}

h1
{
    background-color: rgb(252, 141, 101);
    text-align: center;
    padding-top: 50px;
    height: 100px;
    color: rgb(216, 216, 133);
    letter-spacing: 20px;
    text-shadow: 2px 2px 10px;
    font-size: 40px;
}

tr,
td
{
    border-style: solid;
}

td
{
    text-align: center;
}

table
{
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button
{
    background-color: burlywood;
    width: 200px
}

.list
{
    font-family: fantasy
}

.profile
{
    margin-left: 270px;
    background-color: rgb(132, 184, 129);
    color: white;
    text-align-last: center;
    text-align: center;
    border-style: solid;
    border-radius: 1000px;
    width: 400px;
    height: 200px;
}

.eastereggarea
{
    width: 100px;
    height: 100px;
}

#Alaphelyzetgomb
{
    background-color: white;
    width: 200px
}